* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

body, html, main {
    width: 100%;
    height: 100%;
}

body {
    font-size: 20px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4 ,130px);
    align-content: center;
    justify-content: space-around;
}

header h1 {
    text-shadow: rgba(0, 0, 0, 0.192)0px 3px 7px;
}

.card{
	height: 130px;
	transform-style: preserve-3d;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    transition: .4s;
    user-select: none;
}

.cardImg {
    border: 4px solid rgb(3, 3, 3);
    object-fit: cover;
    width: 100%;
	height: 100%;
    border-radius: 8px;
}

.found {
    border: 4px solid rgb(116, 13, 201);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: default;
}

.wrong {
    border: 4px solid rgb(179, 17, 17);
}